// Always reading from TOP to BOTTOM - mind SPECIFICITY

// variables
$color-black: black;
$color-blue: blue;
$color-magenta: magenta;
$color-red: red;
$color-green: green;


// classes
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}


.text-1 {
  color: $color-green;
}

.text-2 {
  font-size: 30px;
}

.text-3 {
  font-style: italic;
}

// combined selectors
.text-1.text-3 {
  font-size: 40px;
}

div {
  font-style: italic;
}

// .ancestor .child
div p {
  color: indigo;
}

/*
.big {
  font-size: 50%;
}
.large {
  font-size: 50%;
}*/
.big, .large {
  font-size: 50%;
}


.box {
  height: 100px;
  width: 100px;
  padding: 10px;
  margin: 20px;
  border: 5px solid black;
  background-color: red;
}
