// Always reading from TOP to BOTTOM - mind SPECIFICITY

// variables
$color-title: blue;
$color-title-less-500: magenta;

$color-red: red;
$color-green: green;


// classes
.text-1 {
  color: $color-green;
}

.text-1 {
  color: $color-red;
}

/*
 * In this case TOP-TO-BOTTON does not apply because SPECIFICITY, specificity could be combined
 * style, id, class, element
 */

// element + class  -- 0,0,1,1 -- higher specificity
h1.h1-class-2 {
  color: green;
}
h1.h1-class-3 {
  color: aqua;
}


// id -- 0,1,0,0
#h1-id { // Avoid IDs as much as possible
  color:magenta;
}

// class -- 0,0,1,0
.h1-class-1 {
  color:blue;
}
.h1-class-2 {
  color:blue;
}
.h1-class-3 {
  color:yellow !important; // OVERWRITE EVERYTHING, DO NOT USE !IMPORTANT
  background-color: grey;
}

// element -- 0,0,0,1
h1 {
  color:red;
}

