<h1>css4 Examples - DISPLAY PROPERTY</h1>

<br><br>

<div id='div-1'>div-1</div>
<div id='div-2'>div-2</div>

<span id='span-1'>span-1</span>
<img id='img-1' src='https://source.unsplash.com/xfngap_DToE'>
<span id='span-2'>span-2</span>

<div id='div-3'>div-3</div>
<div id='div-4'>div-4</div>

<br><br>

<h2>display:flexbox</h2>

<div class="container">
  <div class="item item-1">Flexbox Item 1</div>
  <div class="item item-2">Flexbox Item 2</div>
  <div class="item item-3">Flexbox Item 3</div>
  <div class="item item-4">Flexbox Item 3</div>
</div>

<br><br>
